header, .brand, .aside, .side-widget, .main-header, .report-header {
  display: none;
}

.report {
  padding-bottom: 0;
}

.print-header {
  display: visible;
  margin-bottom: 2em;
  p {
    font-size: 18px;
  }
}

.rounded-values-report {
  margin-top: 15em;
}

