%h2 забыли пароль?
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :placeholder => 'электронная почта', :label => false, :required => true, :autofocus => true
  .actions
    = f.button :submit, 'восстановить пароль', :class => 'btn-primary'