<h1>Listing tariffes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tariffes.each do |tariffe| %>
  <tr>
    <td><%= link_to 'Show', tariffe %></td>
    <td><%= link_to 'Edit', edit_tariffe_path(tariffe) %></td>
    <td><%= link_to 'Destroy', tariffe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tariffe', new_tariffe_path %>
