<div class="tariff_widget">
    <h3>текущие тарифы</h3>

    <div class="row">
      <div class="span2 names">
        <p>горячая вода</p>
        <p>холодная вода</p>
        <p>водоотведение</p>
        <p>электроэнергия</p>
      </div>
      <div class="values">
            <p><%= tariff.hot_water %> р / м3 </p>
            <p><%= tariff.cold_water %> р / м3 </p>
            <p><%= tariff.utilities %> р / м3 </p>
            <p><%= tariff.energy %> р / квт-ч </p>
      </div>
    </div>
</div>
