- previous_tariff = current_tariff.previous

=render :partial => 'tariffs/tariff_brief', :locals => {:tariff => current_tariff}
=render :partial => 'tariffs/tariff_brief', :locals => {:tariff => previous_tariff}

= link_to 'показать все', '#'

.other_tariffs
  - @tariffs.each do |tariff|
    = render :partial => 'tariffs/tariff_brief', :locals => {:tariff => tariff} unless (tariff == current_tariff or tariff == previous_tariff)