- previous_tariff = current_tariff.previous

.toTop
  %i.icon-arrow-up

= link_to new_tariff_path, {:class => 'new-tariff'} do
  %i.icon-plus
  %span добавить тариф

=render :partial => 'tariffs/tariff_brief', :locals => {:tariff => current_tariff}
- if previous_tariff
  =render :partial => 'tariffs/tariff_brief', :locals => {:tariff => previous_tariff}

- if Tariff.is_there_more_than_two?
  %span{:class => 'show-more-tariffs', :data => {:status => 'collapsed'}} #{'▾ показать все'.html_safe}
  .other-tariffs
    - @tariffs.each do |tariff|
      = render :partial => 'tariffs/tariff_brief', :locals => {:tariff => tariff} unless (tariff == current_tariff or tariff == previous_tariff)