/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

$footer_height:  80px;



header {
  padding: 5px;
  height: 50px;
  margin-top: 1em;
}

h3 a.brand {
  color: #07499e;
  font-family: 'Open Sans';
  font-size: 42px;
  font-weight: 300;

  &:hover {
    background: transparent;
  }
}

.content {
  margin-top: 3em;
}


.report {
  padding-bottom: $footer_height;
}

.aside {
  margin-top: 3em;


  .side_widget {
    height: 150px;
    margin-left: 2em;

    h3 {
      color: royalblue;
      font-size: 24px;
      font-family: 'Open Sans';
      font-weight: 500;
    }

    ul {
      list-style: none;

      li {
        text-align: left;
        padding: 0;
        margin: 0;
      }
    }
  }
}


.field_with_errors {
  display: inline;

  .message {
    color:  red;
    padding-left: 15px;
    font-size: 12px;
    width: auto;
  }
}

.clear {
  clear: both;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}