/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */

$footer_height:  80px;

h3 {
  padding: 0;
  margin: 0;
}

ul, li, ol {
  margin: 0;
  padding: 0;
}

body {
  padding: 60px;
  color: #222;
}

header {
  padding: 5px;
  height: 50px;
  margin-top: 1em;
}



.content {
  margin-top: 3em;
}


.report {
}

.aside {
  margin-top: 3em;


  .side_widget {

    margin: 0em 0em 5em 2em;

    h3 {
      color: royalblue;
      font-size: 24px;
      font-family: 'Open Sans';
      font-weight: 500;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    hr {
      width: 10em;
      border: 1px solid gray;
      margin: 15px 0 0 10px;

    }
  }
}


.field_with_errors {
  display: inline;

  .message {
    color:  red;
    padding-left: 15px;
    font-size: 12px;
    width: auto;
  }
}

.clear {
  clear: both;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.custom-checkbox {
  padding-left: 40px;
}