// Place all the styles related to the metrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin header_font($size) {
  font-family: 'Open Sans';
  color: royalblue;
  font-size: $size ;
  font-weight: 500;
}

.report {

  h2 {
    @include header_font(28px);
  }

  h4 {
    @include header_font(22px);
    padding-top: 10px;
    padding-bottom: 6px;
  }

  .new_metric {
    margin-left: 100px;

    #metrics_with_data {
      display: none;
    }
  }
}

