// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report {
  .report-header {

    .main-header {
      color: royalblue;
      font-size: 28px;
      font-family: 'Open Sans';
      font-weight: 300;
      display: inline;
      margin-right: 20px;
    }

    .icons {
      float: right;
      margin-right: 5%;
      margin-top: 4px;

      a {
        font-size: 24px;
        color: #064391;
        text-decoration: none;
        padding-left: 12px;
        cursor: pointer;

        &:hover {
          color: royalblue;
        }
      }
    }
  }

  table {
    text-align: center;
    border-collapse: collapse;

    thead {
      tr {
         th {
           font-weight: 600;
           font-size: 20px;
           width: 16%;
           padding-top: 1em;
           padding-bottom: 0.5em;
           border-bottom: 2px lightgray solid;
         }
      }
    }

    tbody {
      .row-header{
        font-size: 20px;
        border-right: 1px lightgray solid;
        padding-right: 0.3em;
      }
      @mixin separator($bottom) {
        padding-top: 0;
        padding-bottom: $bottom;
      }
      .metric_separator {
        @include separator(0.7em);
      }

      .cost_separator {
        @include separator(0.1em);
        border-bottom: 2px lightgray solid;
      }

      .in_total_separator {
        @include separator(0.1em);
        border-bottom: 2px gray solid;
      }

      .total_cost td {
        padding-top: 1em;
        font-size: 20px;
      }

      tr > td {
        padding-bottom: 1.0em;
        padding-top: 0.6em;
      }
      .in_total td {
        font-size: 22px;
        text-align: right;
      }
      td {
        vertical-align: middle;
        font-size: 16px;
      }
    }
  }
}

.previous-report-link {
  padding-left: 12px;
  padding-top: 1.5em;

  &:first-of-type {
    padding-top: 0.5em;
  }

  a {
    font-size: 18px;
    color: rgb(6, 67, 145);
    &:hover {
      color: royalblue;
    }
  }
  span {

    font-size: 16px;
    margin-right: 25%;
    float: right;
    color: royalblue;

  }
}

@media screen {
  .print-header,{
    display: none;
  }
}
