// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report {
  .main_header {
    color: royalblue;
    font-size: 28px;
    font-family: 'Open Sans';
    font-weight: 300;
  }

  table {
    text-align: center;
    border-collapse: collapse;

    thead {

      tr {

         th {
           font-weight: 600;
           font-size: 20px;
           width: 16%;
           padding-top: 1em;
           padding-bottom: 0.5em;
           border-bottom: 2px lightgray solid;
         }
      }
    }

    tbody {

      .row_header{
        font-size: 20px;
        border-right: 1px lightgray solid;
        padding-right: 0.3em;
      }

      @mixin separator($bottom) {
        padding-top: 0;
        padding-bottom: $bottom;
      }

      .metric_separator {
        @include separator(0.7em);
      }

      .cost_separator {
        @include separator(0.1em);
        border-bottom: 2px lightgray solid;
      }

      .in_total_separator {
        @include separator(0.1em);
        border-bottom: 2px gray solid;
      }

      .total_cost td {
        padding-top: 1em;
        font-size: 20px;
      }

      tr > td {
        padding-bottom: 1.0em;
        padding-top: 0.6em;
      }
      .in_total td {
        font-size: 22px;
        text-align: right;
      }

      td {
        vertical-align: middle;
        font-size: 16px;
      }
    }
  }
}

.previous-report-link {
  padding-left: 12px;
  padding-top: 1em;

  &:last-of-type {
    padding-bottom: 0;
  }

  a {
    font-size: 18px;
    color: rgb(6, 67, 145);
  }
  span {

    font-size: 16px;
    margin-right: 4.8em;
    float: right;
    color: royalblue;

  }



}
