
.navbar {

  .nav,.nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: middle;

    >a {

      padding: 0 14px;
      font-size: 18px;
      font-family: 'Open Sans';
    }
  }


  h3 {
    margin: 0px auto;
    a.brand {
      color: #07499e;
      padding: 0px 14px;

      font-size: 28px;
      font-weight: 300;

      margin: 10px 30px 15px 0px;

      &:hover {
        background: transparent;
      }
    }
  }
}

.navbar-inner {
  text-align:center;
  box-shadow: none;
  background-image: none;
}

.navbar-fixed-top .navbar-inner {
  box-shadow: none;
}



pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: green;
}


#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.form-horizontal .control-label {
  text-align: left;
  font-size: 16px;
}

.user-nav {
  display: inline-block;
  margin-left: 80px;

  a {
    padding-left: 20px;
  }
}

.fixed-width-nav.anon {
  width: 800px;
  margin: 0 auto;

  ul {
    float: left;
  }

  .user-nav {
    float: right;
    margin-top: 20px;
  }
}

.fixed-width-nav.user {
  width: 1024px;
  margin: 0 auto;
}

.loading {
  margin: -5px auto 5px auto;
  display: none;
  .indicator {
    background-image: url(loading.gif);
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }
  span {
    padding-left: 12px;
    color: rgba(0, 136, 204, 0.66)
  }
}
