// Place all the styles related to the Tariffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tariff_widget {

  font-size: 16px;

  .names {
    padding-left: 12px;

    p {
      padding-top: 0.4em;
    }
  }

  .values {
    p {
      padding-top: 0.4em;
    }
  }
}

.other-tariffs {
  display: none;
}

.show-more-tariffs {
  margin-left: 20%;
  font-size: 18px;
  color: #0088cc;
  cursor: pointer;

  &:hover {
    color: #005580;
  }

}

.toTop {
  position: fixed;
  display: none;
  bottom: 60px;
  right: 43%;

  font-family: 'Open Sans';
  font-size: 32px;
  color: royalblue;
  cursor: pointer;

  &:hover {
    color: steelblue;
  }
}

.add-tariff {
  color: royalblue;
  font-family: 'Open Sans';
  margin-left: 20%;
  line-height: 3em;

  &:hover {
    text-decoration: none;
  }

  i {
    font-size: 24px;
    vertical-align: -2px;
  }
  span {
    font-size: 22px;
    margin-left: 8px;
  }
}

.new-tariff {
  margin-left: 100px;
}

.report {

  h2 {
    font-family: 'Open Sans';
    color: royalblue;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 16px;
  }

}



.tariff {
  margin-left: 20%;

  .header {

    display: inline;

    h4 {
      padding-bottom: 20px;
      padding-top: 10px;
      float: left;
      #padding-right: 40px;
    }

    .icons {
      float: right;
      padding-top: 20px;
      padding-right: 60px;

      display: none;

      i {
        padding-left: 4px;

      }

      a {
        &:hover {
          text-decoration: none;
        }
      }

      i.icon-remove {
        cursor: pointer;
        font-size: 22px;
        color: darkred;

        &:hover {
          color: rgb(194, 15, 15);
        }
      }

      i.icon-pencil {
        color: #064391;
        font-size: 20px;
        &:hover {
          color: royalblue;
        }
      }
    }
  }


  .tariff-body {
    clear: both;
    padding-bottom: 20px;

    .names {
      margin-left: 16px;
    }

  }

  p {
    font-size: 18px;
    font-family: 'Open Sans';
    padding-bottom: 10px;
  }
}