// Place all the styles related to the Tariffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tariff_widget {

  font-size: 16px;

  .names {
    padding-left: 12px;

    p {
      padding-top: 0.4em;
    }
  }

  .values {
    p {
      padding-top: 0.4em;
    }
  }
}

.other-tariffs {
  display: none;
}

.show-more-tariffs {
  margin-left: 20%;
  font-size: 18px;
  color: #0088cc;
  cursor: pointer;

  &:hover {
    color: #005580;
  }

}

.toTop {
  position: fixed;
  display: none;
  bottom: 60px;
  right: 43%;

  font-family: 'Open Sans';
  font-size: 32px;
  color: royalblue;
  cursor: pointer;

  &:hover {
    color: steelblue;
  }

}

.tariff {
  margin-left: 20%;


  h4 {
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .tariff-body {
    padding-bottom: 20px;

    .names {
      margin-left: 16px;
    }

  }

  p {
    font-size: 18px;
    font-family: 'Open Sans';
    padding-bottom: 10px;
  }
}