- @reports_by_year.keys.each do |year|
  %h2
    = year

  %table.report-year-calendar
    -(0..3).each do |quarter|
      %tr
        - (1..3).each do |month_in_quarter|
          - month = quarter*3 + month_in_quarter
          - report = @reports_by_year[year][month].first if @reports_by_year[year].include? month
          - path = report.month_year_path unless report.nil?
          - path ||= reports_path
          %td
            %h4
              = link_to t('date.month_names')[month].mb_chars.downcase.to_s, path
            - unless report.nil?
              = render :partial => 'reports/calendar_cell', :locals => {:report => report}
            - else
              %p нет отчета